body {
    background-color: rgb(237, 237, 237);
}

header {
    position: absolute; top:0; left:0; right:0;
    background-color: rgb(30, 30, 30);
    height: 110px;
    color: rgb(237, 237, 237);
    box-shadow: 5px 1px 4px rgb(111, 111, 111);

}

.headlg {
    padding-left: 6.5%;
    padding-top: 27px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xxx-large;
    font-weight: 900;
}

.txt1 {
    margin-top: 170px;
    margin-left: 6%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: x-large;
}

.soder {
    display: -webkit-flex;
    display: flexbox;
    flex-direction: column;
    margin-top:30px;
    margin-left: 4%;
    margin-right: 12%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.txt2 {
    margin-top: 5px;
    margin-left: 2.5%;
    padding-bottom: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
}

.txt3 {
    margin-top: 5px;
    margin-inline: 2.5%;
    padding-bottom: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    white-space: pre-wrap;
    font-size: large;
    word-spacing: 0.05cm;
}


